<div class="pageWrapper">
  <div class="editorWrapper">
    <label class="editorLabel">
      Markdown
      <button
        (click)="copyMarkdownToClipboard(editor)"
        class="copyButton"
      >
        Copy
      </button>
    </label>
    <textarea
      [(ngModel)]="content"
      [scrollTop]="scrollTop"
      class="editor"
      #editor
    >
    </textarea>
  </div>

  <div class="markdownWrapper">
    <label class="editorLabel">
      HTML
      <button
        (click)="copyHtmlToClipboard()"
        class="copyButton"
      >
        Copy
      </button>
    </label>
    <div
      [innerHTML]="renderMarkdown()"
      [scrollTop]="scrollTop"
      class="markdown"
    ></div>
  </div>
</div>
